/*
body .styleOl{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  margin: 0 40px !important;
  
}

.buttonStyle{
    color: rgb(27, 27, 27);
    background-color: #FFA6BF;
    border-color:  #FFECEC;
    font-weight: 600;
}

.buttonStyle:hover{
  color : #FFECEC;
  background-color: #FFA6BF !important;
  border-color:  #FFA6BF !important;

}
.card-title a{
  color: black !important;
}

.card-body{
  background-color: #5f20f3;

}
*/